{% extends 'basic_common/mybase.html' %}
{% import 'basic_common/_macros.html' as macros %}

{% block content %}
    <div class="container">
        <h4>请选择照片</h4>
        <form method="POST" role="form" action="{{ url_for('.index') }}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            {{ form.pics(class='file', id='input-1') }}
        </form>
        <hr>
        <!--分页导航-->
        <div class="row text-center">
            <div class="col-lg-12">
                {{ macros.pagination_widget(pagination, '.index') }}
            </div>
        </div>

        {% for pic in pics %}
            {% if loop.first %}
                <div class="row">
            {% endif %}
            {% if loop.index % 4 == 0 %}
                {{ macros.make_pics(pic) }}
                </div>
                {% if not loop.last %}
                    <div class="row">
                {% endif %}
            {% else %}
                {{ macros.make_pics(pic) }}
            {% endif %}
            {% if loop.last and loop.length % 4 != 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <hr>
    <!--分页导航-->
    <div class="row text-center">
        <div class="col-lg-12">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    </div>
{% endblock %}
